<%= render "shared/header" %>

<div class="sh-body">

  <div class="sh-header">
    <h1 class="page-title">Storehouses</h1>
  
    <div class="form-wrapper3">
      <%= form_with model: [@home, @storehouse], local: true do |form| %>
  
      <div class="c-title">
        <%= form.label :folder_name, "Folder name*" %><br>
        <%= form.text_field :folder_name, size: "35x10" %>
      </div>
  
      <div class="c-title">
        <%= form.label :file_name, "File name*" %><br>
        <%= form.text_field :file_name, size: "35x10" %>
      </div>
  
      <div class="c-title">
        <%= form.label :file_memo, "File memo" %><br>
        <%= form.text_area :file_memo, size: "34x10" %>
      </div>

      <div class="sh-image button-animation" id="image">
        <%= form.label :images, "Storehouse image", class: "image-button"  %><br />
        <%= form.file_field :images, multiple: true, class: "image-form" %>
      </div>

      <div class="submit">
          <%= form.submit %>
      </div>
      <div>&emsp;* Required item</div>
  
      <% end %>
    </div>
  </div>

  <div class="sh-folders">
    <% @storehouses.each do |storehouse| %>
      <%# <%= link_to storehouse.folder_name, home_storehouse_path(@home,storehouse.id),{ class: "folder-name sh-folder button-animation" } %> %>
      <%= link_to storehouse.folder_name, home_storehouse_path(@home,@storehouses),{ class: "folder-name sh-folder button-animation" } %>
    <%# <% end %> %>
    <% end %>
  
      <%# <div class=" sh-card [ is-collapsed ] "> %>
        <%# <div class="sh-card__inner [ js-expander ]"> %>
              <%# <span>Shelf</span> %>
          <%# <i class="sh-fa sh-fa-folder-o"></i> %>
        <%# </div> %>
        <%# <div class="sh-card__expander"> %>
          <%# <i class="sh-fa sh-fa-close [ js-collapser ]"></i> %>
          <%# Expander %>
        <%# </div> %>
      <%# </div> %>
  </div>

</div>