<%= render "shared/header" %>

<div class="body-white">
  <div class="form-wrapper-cl">

  <%= form_with model: [@home, @calendar], local: true do |form| %>

    <div class="c-title">
      <%= form.label :title, "Title*" %><br>
      <%= form.text_field :title, size: "35x10" %>
    </div>

    <div class="c-content">
      <%= form.label :schedule, "Schedule" %><br>
      <%= form.text_area :schedule, size: "34x5" %>
    </div>

    <div class="c-content">
      <%= form.label :member, "Member" %><br>
      <%= form.text_field :member, size: "35x10" %>
    </div>

    <div class="date-time">
      <div class="c-date">
        <%= form.label :start_date, "Start date*" %>
        <%= form.date_field :start_date %>
      </div>

      <div class="c-time">
        <%= form.label :s_time, "Start time" %>
        <%= form.time_field :s_time %>
      </div>
    </div>

    <div class="date-time">
      <div class="c-date">
        <%= form.label :end_date, "End date" %>
        <%= form.date_field :end_date %>
      </div>
    
      <div class="c-time">
        <%= form.label :s_time, "End time" %>
        <%= form.time_field :e_time %>
      </div>
    </div>

<br>

    <div class="submit">
      <%= form.submit %>
    </div>
    <div>&emsp;* Required item</div>

  <% end %>

  </div>
</div>