<div class="show">
<p>
  <strong>Title</strong>
  <%= @calendar.title %>
</p>

<p>
  <strong>Schedule</strong>
  <%= @calendar.schedule %>
</p>

<p>
  <strong>Member</strong>
  <%= @calendar.member %>
</p>

<p>
  <strong>Start</strong>
  <%= @calendar.start_date %><%= @calendar.start_time %>
</p>

<p>
  <strong>End</strong>
  <%= @calendar.end_date %><%= @calendar.end_time %>
</p>

<%= link_to 'edit', "#" %>
<%= link_to 'delete', "#", method: :delete, data: { confirm: '本当に?' } %>
<%= link_to 'return', "#" %>
</div>
