<%= render "shared/header" %>

<div class="body-white">

<div class="show-menu">
  <%= link_to 'edit', edit_home_calendar_path(@home,@calendar) %>
  <%= link_to 'delete', home_calendar_path(@home, @calendar), method: :delete, data: { confirm: 'Is it really ok?' } %>
  <%= link_to 'return', home_calendars_path(@home) %>
</div>

<table>
  <tbody>
    <tr>
      <th>Title</th>
      <td><%= @calendar.title %></td>
    </tr>
    <tr>
      <th>Schedule</th>
      <td><%= @calendar.schedule %></td>
    </tr>
    <tr>
      <th>Member</th>
      <td><%= @calendar.member %></td>
    </tr>
    <tr>
      <th>Start</th>
      <td><%= @calendar.start_date %>
        <% if @calendar.s_time.present? %>
          <%= @calendar.s_time.strftime( "%H:%M" ) %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>End</th>
      <td><%= @calendar.end_date %>
        <% if @calendar.s_time.present? %>
          <%= @calendar.e_time.strftime( "%H:%M" ) %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

</div>