<%= render "shared/header" %>

<div class="form-main">
  <div class="form-wrapper-hn">
    <h1>New HOME</h1>

  <%# <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= form_with model: @room, locl: true do |f| %>

    <div class="form-item">
      <%= f.label :home_name, "Home Name" %>
      <%= f.text_field :home_name, autofocus: true %>
    </div>

    <%# <div class="form-item"> %>
      <%# <%= f.label :password %>
      <%# <%= f.password_field :password, autocomplete: "current-password" %>
    <%# </div> %>

    <%# <% if devise_mapping.rememberable? %>
      <%# <div class="field"> %>
        <%# <%= f.check_box :remember_me %>
        <%# <%= f.label :remember_me %>
      <%# </div> %>
    <%# <% end %>

    <%# <div class="actions"> %>
      <%# <%= f.submit "Log in" %>
    <%# </div> %>
    <div class="button-panel-hn">
      <%= f.submit "Create", class: "button-hn" %>
    </div>

<% end %>

</div>
</div>

  <%# <div class="go-link" > %>
  <%# <%= render "devise/shared/links" %> %>
  <%# </div> %>