<%= render "shared/header2" %>

<div class="form-main">
  <div class="form-wrapper-rn">
    <h1 class="page-title">New ROOM</h1>

  <%= form_with model: @home, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <div class="form-item">
      <%= f.label :home_name, "ROOM Name" %>
        <div class="attention">
          <%= "Please set at least 5 characters including letters and numbers, and within 20 characters." %>
        </div>
      <%= f.text_field :home_name, autofocus: true %>
    </div>

<%# 一旦メモへ移動 %>
    <input name="home[user_ids][]" type="hidden" value=<%= current_user.id %>>

    <div class="button-panel-rn">
      <%= f.submit "Enter the room", class: "button-rn" %>
    </div>

<% end %>

<div class="go-link">
  <%= link_to "ROOM Slection?", room_homes_path %>
</div>

</div>
</div>