<%= render "shared/header" %>

<%# <%= javascript_pack_tag 'calendar' %>


<%# codepen %> 

<div class="my-home">

<div class="home-left">

  <div class="tag-cell">
    <div class="tag-left">
      <div class="tag-title">TASK</div>
      <div class="tag-addition" id="tag-ts">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
        <path d="M3 12h18M3 6h18M3 18h18" /></svg>
        <ul class="show-tags hidden" id="pull-down-ts">
          <li class="pull-down-tag">
            <%= link_to "New", new_home_task_path(@home) %></li>
          <li class="pull-down-tag">
            <%= link_to "All", home_tasks_path(@home) %>
          </li>
        </ul>
      </div>
    </div>
    <div class="tag-content">
      <div class="tag-lists">
          <% @tasks.each do |task| %>
            <ul style="list-style-type: square", class="post-lists">
              【<%= task.deadline %>】 <%= task.task %> （ <%= task.responsible_person %> ）
            </ul>
          <% end %>
      </div>
    </div>
  </div>

  <div class="tag-cell">
    <div class="tag-left">
      <div class="tag-title">LIST</div>
      <div class="tag-addition tag-blue" id="tag-ls">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
        <path d="M3 12h18M3 6h18M3 18h18" /></svg>
        <ul class="show-tags hidden" id="pull-down-ls">
          <li class="pull-down-tag">New</li>
          <li class="pull-down-tag">All</li>
        </ul>
      </div>
    </div>
    <div class="tag-content">
      <div class="tag-lists">リスト表示</div>
    </div>
  </div>

  <div class="tag-cell">
    <div class="tag-left">
      <div class="tag-title">MEMO</div>
      <div class="tag-addition tag-pink" id="tag-mm">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
        <path d="M3 12h18M3 6h18M3 18h18" /></svg>
        <ul class="show-tags hidden" id="pull-down-mm">
          <li class="pull-down-tag">New</li>
          <li class="pull-down-tag">All</li>
        </ul>
      </div>
    </div>
    <div class="tag-content">
      <div class="tag-lists">メモ表示</div>
    </div>
  </div>

   <%# <div class="tag-cell"> %>
    <%# <div class="tag-title">kari</div> %>
    <%# <div class="tag-content"> %>
     <%# <div class="tag-t">かり</div> %>
             <%# <div class="tag-addition tag-yellow">＋</div> %>
     <%# <div class="tag-lists">リスト表示</div> %>
    <%# </div> %>
   <%# </div> %>

   <%# <div class="tag-cell"> %>
    <%# <div class="tag-title">かり</div> %>
    <%# <div class="tag-content"> %>
     <%# <div class="tag-t">After You</div> %>
             <%# <div class="tag-addition tag-purple">＋</div> %>
     <%# <div class="book-author">by Jojo Moyes</div> %>
     <%# <div class="rate"> %>
      <%# <fieldset class="rating dark-purp"> %>
       <%# <input type="checkbox" id="star21" name="rating" value="5" /> %>
       <%# <label class="full" for="star21"></label> %>
       <%# <input type="checkbox" id="star22" name="rating" value="4" /> %>
       <%# <label class="full" for="star22"></label> %>
       <%# <input type="checkbox" id="star23" name="rating" value="3" /> %>
       <%# <label class="full" for="star23"></label> %>
       <%# <input type="checkbox" id="star24" name="rating" value="2" /> %>
       <%# <label class="full" for="star24"></label> %>
       <%# <input type="checkbox" id="star25" name="rating" value="1" /> %>
       <%# <label class="full" for="star25"></label> %>
      <%# </fieldset> %>
      <%# <span class="book-voters">1.987 voters</span> %>
     <%# </div> %>
     <%# <div class="tag-lists">Louisa Clark is no longer just an ordinary girl living an ordinary life. After the transformative six months spent.</div> %>
     <%# <div class="book-see book-purple">See The Book</div> %>
    <%# </div> %>
   <%# </div> %>

</div>


<div class="home-right">

  <div class="tag-cell-r">
    <%= link_to image_tag("home.png", class: :icon), root_path %>
  </div>
  <div class="tag-cell-r">
    <%= link_to image_tag("calendar.png", class: :icon), root_path %>
  </div>
  <div class="tag-cell-r">
      <%= link_to image_tag("file.png", class: :icon), root_path %>
  </div>
    <div class="tag-cell-r">
      <%= link_to image_tag("photo.png", class: :icon), root_path %>
  </div>

</div>

