<%= render "shared/header" %>

<div class="my-home">

<div class="home-left">

  <div class="tag-cell">
    <div class="tag-left">
      <div class="tag-title">TASK</div>
      <div class="tag-addition" id="tag-ts">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
        <path d="M3 12h18M3 6h18M3 18h18" /></svg>
        <ul class="show-tags hidden" id="pull-down-ts">
          <li class="pull-down-tag">
            <%= link_to "New", new_home_task_path(@home) %></li>
          <li class="pull-down-tag">
            <%= link_to "All", home_tasks_path(@home) %>
          </li>
        </ul>
      </div>
    </div>
    <div class="tag-content">
      <div class="tag-lists">
          <% @tasks.each do |task| %>
            <ul style="list-style-type: square", class="post-lists">
              【<%= task.deadline %>】 <%= task.task %> （ <%= task.responsible_person %> ）
            </ul>
          <% end %>
      </div>
    </div>
  </div>

  <div class="tag-cell">
    <div class="tag-left">
      <div class="tag-title">LIST</div>
      <div class="tag-addition tag-blue" id="tag-ls">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
        <path d="M3 12h18M3 6h18M3 18h18" /></svg>
        <ul class="show-tags hidden" id="pull-down-ls">
          <li class="pull-down-tag">New</li>
          <li class="pull-down-tag">All</li>
        </ul>
      </div>
    </div>
    <div class="tag-content">
      <div class="tag-lists">リスト表示予定</div>
    </div>
  </div>

  <div class="tag-cell">
    <div class="tag-left">
      <div class="tag-title">MEMO</div>
      <div class="tag-addition tag-pink" id="tag-mm">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
        <path d="M3 12h18M3 6h18M3 18h18" /></svg>
        <ul class="show-tags hidden" id="pull-down-mm">
          <li class="pull-down-tag">New</li>
          <li class="pull-down-tag">All</li>
        </ul>
      </div>
    </div>
    <div class="tag-content">
      <div class="tag-lists">メモ表示予定</div>
    </div>
  </div>

</div>


<div class="home-right">

  <%= link_to image_tag("calendar.png", class: 'tag-cell-r1'), home_calendars_path(@home) %>
  <%= link_to image_tag("home.png", class: 'tag-cell-r2'), root_path %>
  <%= link_to image_tag("file.png", class: 'tag-cell-r3'), home_storehouses_path(@home) %>
  <%= link_to image_tag("photo.png", class: 'tag-cell-r4'), root_path %>

</div>

